<section class="py-3">
  <div class="container  ">
    <div class="row d-flex justify-content-center">
<div class="col-md-3">
  <owl-carousel-o [options]="mainSlideOptions">
    <ng-template carouselSlide>
      <img src="./assets/image/assignment/imgesSlide1.jpg" alt="slide1">
    </ng-template>
    <ng-template carouselSlide>
      <img src="./assets/image/assignment/imges2.jpg" alt="slide2">
    </ng-template>
    <ng-template carouselSlide>
      <img src="./assets/image/assignment/imges3.jpg" alt="slide3">
    </ng-template>
  </owl-carousel-o>



</div>
<div class="col-md-3">
<img class="w-100" src="../../assets/image/assignment/imges4.jpg" alt="slideStc1">
<img class="w-100" src="../../assets/image/assignment/imges5.jpg" alt="slideStc2">
</div>
    </div>
  </div>
</section>


<section class="py-4">
  <owl-carousel-o [options]="categoryOptions">

    <ng-container *ngFor="let slide of categories">
      <ng-template carouselSlide>
        <img height="300" [src]="slide.image" [alt]="slide.name" [title]="slide.name">
        <h3 class="fw-6 text-black">{{slide.name}}</h3>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>

<div class="container">

  <div class="w-75 mx-auto my-2">
    <input [(ngModel)]="term" type="text" placeholder="Search By Name" class="form-control">

  </div>
  <div class="row gy-4 py-5  ">
    <div *ngFor="let item of productsList|search:term" class="col-md-3 ">

      <div class="product px-2  rounded"> 
        <a [routerLink]="['/productDetails', item._id]" >
        <img [src]="item.imageCover" class="w-100" alt="">
        <span class="text-main fw-bold">{{item.category.name}}</span>
        <h3 class="fs-5">{{item.title|seemore:2}}</h3>
        <div class="d-flex justify-content-between ">
          <span class="fw-bold ">
              {{item.price}}EGP
          </span>

          <span>
         
            <i class="fa-solid fa-star rating-color"></i>
            {{item.ratingsAverage}}
           
            <i (click)="wishFav( item._id)" class="fa-regular fa-heart ms-1"></i>
          </span>
        </div>
      </a>
      <div class="my-2">
        <button (click)="addMyCart(item._id)" class="btn bg-main text-white w-100">+Add</button>
      </div>
      </div>

    </div>
  </div>
</div>

