<section class="bg-main-light py-5">
<div class="container">
  <h2>Get the FreshCart app</h2>
  <p>We will send you a link, open it on your phone to download the app</p>
  <div class="row pb-3">
    <div class="col-md-10">
      <input type="email" placeholder="Email..." class="form-control">
    </div>
    <div class="col-md-2">
      <button class="btn bg-main">Share App link </button>
    </div>
   <hr>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <h3 class="fs-5">Payment Partners</h3>
      <img src="../../assets/image/payments.png" class="w-50" alt="">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <h3 class="fs-5">Get deliveries with FreshCart</h3>
      <img src="../../assets/image/app.png" class="w-50" alt="">
    </div>
  </div>
</div>
</section>
