<div class="container" *ngIf="step1">
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()" >
   <div>
    <label for="email" class="fs-3 fs-bold text-dark mb-2">please enter your verification code</label>
    <input type="email" formControlName="email" placeholder="Email" class="form-control" id="email" name="email"/>
    <div *ngIf="forgetForm.get('email')?.errors&& forgetForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="forgetForm.get('email')?.getError('required')">Email Is Required</p>
      <p *ngIf="forgetForm.get('email')?.getError('email')">Email Not valid</p>
    </div>
  </div>
    <button class="btn btn-outline-success mt-2 px-4">Verify</button>
    <p *ngIf="userTrueMsg" class="alert alert-success p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userTrueMsg}}</p>
    <p *ngIf="userMsg" class="alert alert-danger p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userMsg}}</p>
  </form>
</div >


<div class="container" *ngIf="step2">
  <form [formGroup]="resetCodeForm" (ngSubmit)="restCode()" >
    <label for="resetCode" class="fs-3 fs-bold text-dark mb-2">reset your account password code</label>
    <input formControlName="resetCode" type="text" placeholder="code"  class="form-control" id="resetCode" name="resetCode"/>
    <button class="btn btn-outline-success mt-2 px-4">Verify</button>
    <p *ngIf="userMsg" class="alert alert-danger p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userMsg}}</p>
    <p *ngIf="userTrueMsg" class="alert alert-success p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userTrueMsg}}</p>
  </form>
</div>


<div class="container" *ngIf="step3">
  <form [formGroup]="newPassword" (ngSubmit)="newRePassword()">
    <label for="newPassword" class="fs-3 fs-bold text-dark mb-2">reset your account password</label>
    <input type="password" formControlName="newPassword" placeholder="Password"  class="form-control" id="newPassword" name="newPassword"/>
    <div *ngIf="newPassword.get('password')?.errors&& newPassword.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="newPassword.get('password')?.getError('required')">Password Is Required</p>
      <p *ngIf="newPassword.get('password')?.getError('pattern')">Password Should Have A A @# and 123 </p>
    </div>
    <button class="btn btn-outline-success mt-2 px-4">reset password</button>
    <p *ngIf="userMsg" class="alert alert-danger p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userMsg}}</p>
    <p *ngIf="userTrueMsg" class="alert alert-success p-1 mb-0 mx-auto w-75 mt-2 text-center">{{userTrueMsg}}</p>
  </form>
</div>
